:root{
    --font-color:#FAFAFA;
    --tex-color:#252B42;
    --second-text-color:#737373;
    --primary-color:#FF7B47;
    --secondary-color:hsl(185, 77%, 22%);
    --light-text-color:#FFFFFF;
    --secondary-color-1:#0D5C63;
    
}
body{
    height: 2000px;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}
#cover{
    background: url(../imajines/cover.svg);
    width: 1381px;
    height: 793px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
}
nav{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    height: 100px;
    padding: 0px 20px 0px 20px;
    
}

nav > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 58px;
    top: 23px;
    left: 136px;
    padding: 23px 50px 13px 0px;
    gap: 10px;
    opacity: 0px;

} 

nav > div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 100px 0px 100px;
}

nav > div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: end;
}

nav a{
    text-decoration: none;
    color: var(--tex-color);
}

.conteiner{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 1046px;
    height:900px;
    top: 104px;
    left: 168px;
    padding: 80px 0px 80px 0px;
    gap: 80px;
    opacity: 0px;
}

.conteiner > .row{
    display: flex;
    width: 1139px;
    height: 418px;
    gap: 120px;
    opacity: 0px;
}
.conteiner > .row > #caja{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width:509px;
    height: 418px;
    gap: 35px;
    opacity: 0px;

}

.conteiner > .row > #caja>h1{
    margin: 1px;
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}
.conteiner > .row > #caja>h4{
    margin: 1px;
    color: var(--second-text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}
.uno{
    color: var(--light-text-color);
    background-color: var(--primary-color);
    border: none;
    width: 185px;
    height: 48px;
    padding: 10px 36px 10px 36px;
    gap: 10px;
    border-radius: 37px;
    opacity: 0px;
}
.botton.uno{
    color: var(--light-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
.dos{
    color: var(--second-text-color) !important;
    background-color: transparent;
    width: 185px;
    height: 48px;
    padding: 10px 36px 10px 36px;
    gap: 10px;
    border-radius: 37px;
    opacity: 0px;
}

.row> #caja-vacia{
    display: block;
    width:510px;
    height: 280px;
    gap: 0px;
    opacity: 0px;
}
.conteiner > .row2{
    display: flex;
    width:1046px;
    height:242px;
    gap: 30px;
    opacity: 0px;

}

.row2 > .col-md-4{
    background-color: var(--font-color);
    box-shadow: 0px 13px 19px 0px #00000012;
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 242px;
    height: 177px;
    gap: 0px;
    opacity: 0px;

    
}

.icon1>.material-symbols-outlined{
    position: relative;
    font-size: 50px !important;
    color: var(--secondary-color-1)!important;
    width: 47.32px;
    height: 40.56px;
    top: 0.08px;
    left: 0.34px;
    gap: 0px;
    opacity: 0px;
}

.col-md-4 > h3{
    margin: 15px 0px 0px 0px;
    width: 186px;
    height: 64px;
    gap: 0px;
    opacity: 0px;
}

.col-md-4 > h3 {
    color:var(--tex-color) ;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}

.col-md-4 > p {
    margin: 15px 0px 0px 0px;
    width: 218px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
}

.col-md-4 > p {
    color: var(--second-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

.row2 > .col-md-5{
    display: flex;
    box-shadow: 0px 13px 19px 0px #00000012;
    padding: 40px;
    background-color: var(--font-color);
    flex-direction: column;
    width: 242px;
    height: 177px;
    gap: 0px;
    opacity: 0px;
}

.icon2>.material-symbols-outlined {
    position: relative;
    font-size: 50px !important;
    color: var(--secondary-color-1) !important;
    width: 47.32px;
    height: 40.56px;
    top: 0.08px;
    left: 0.34px;
    gap: 0px;
    opacity: 0px;
}

.col-md-5 > h3{
    margin: 15px 0px 0px 0px;
    width: 155px;
    height: 64px;
    gap: 0px;
    opacity: 0px;

    
}

.col-md-5 > h3 {
    color:var(--tex-color) ;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;

}
.col-md-5 > p {
    margin: 15px 0px 0px 0px;
    width: 218px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
}


.col-md-5 > p {
    color: var(--second-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

.row2 > .col-md-6{
    display: flex;
    box-shadow: 0px 13px 19px 0px #00000012;
    background-color: var(--secondary-color-1);
    padding: 40px;
    flex-direction: column;
    width: 242px;
    height: 177px;
    gap: 0px;
    opacity: 0px;
}

.icon3>.material-symbols-outlined{
    position: relative;
    font-size: 50px !important;
    color: var(--light-text-color);
    width: 47.32px;
    height: 40.56px;
    top: 0.08px;
    left: 0.34px;
    gap: 0px;
    opacity: 0px;
} 

.col-md-6 > h3{
    margin: 15px 0px 0px 0px;
    width: 186px;
    height: 64px;
    gap: 0px;
    opacity: 0px;
}
.col-md-6 > h3 {
    color:var(--light-text-color) ;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}

.col-md-6 > p {
    margin: 15px 0px 0px 0px;
    width: 218px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
}

.col-md-6 > p {
    color: var(--light-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}
.caja-principal{
    display:flex;
    position: relative;
    width: 1381px;
    height: 526px;
    top: 924px;
    padding: 0px 165px 0px 166px;
    gap: 0px;
    opacity: 0px;
}

.caja-principal{
background-color: var(--font-color);
}
