.cajota{
  justify-content: space-around;
  display: flex;
  width: 539px;
  height: 377px;
  border-radius: 19.55px;
  opacity: 0px;

}
.cajaizquierda{
  
  align-items: center;
}
.cajasdelogin{
  content: 100%;
  display: flex;
}
.cajasdelogin1{
  display: flex;
}
.cajita3>img{
  width: 330px;
}

.cajasdelogin2{
  display: flex;
}

.logo{
  display: flex;
}
.remen{
  display: flex;
}
.but{
  color: white;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2px  solid;
  width: 198.82px;
  height: 18.64px;
  border-radius: 5px;
}
.public{
  display:flex ;
  width: 62.13px;
  height:21.75px;
  display: flex;
  border-radius: 1.55px 0px 0px 0px;
  justify-content: center;
  border: 0.2px  solid #3869EB;
}
.pu{
  display: flex;
  justify-content: space-around;
}
.titulo>p{
  font-size: 10px;
}
.ao{
  display: flex;
}
.cajaderecha>img{
  height: 500px;
}
.cajita1{
  width: 432px;
  height: 310px;
  display: flex;
  flex-wrap: nowrap;

}